{% extends 'base.html.twig' %}

{% block title %}Hello New User!{% endblock %}

{% block body %}
<style>

</style>

<div class="container ">
    <div class="card border-secondary mb-3 " id="tableregistration">
        <div class="text-uppercase card-header" id="cardHeaderRegistration">Registration</div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
