<footer class="py-4 bg-dark text-white-50" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col">
                 <hr class="my-7">
                    <blockquote class="blockquote">
                        <p class="mb-0">Carluck</p>
                        sdfsdfsdfsdfsfsfffsfsfsfsfsfsfsfsfsfsfsfsfsfsf
                    </blockquote>
                </div>
                <div class="col">
                    <H4>USEFUL LINKS</H4>
                    <ul>
                    <li> <i class="ion-ios-arrow-right">
                            <a href="/">Home</a>
                        </i>
                    </li>
                    <li> <i class="ion-ios-arrow-right">
                            <a href="/">Products</a>
                        </i>
                    </li>
                    <li> <i class="ion-ios-arrow-right">
                            <a href="/">About us</a>
                        </i>
                    </li>
                    <li> <i class="ion-ios-arrow-right">
                            <a href="/">Enquiry</a>
                        </i>
                    </li>
                    <li> <i class="ion-ios-arrow-right">
                            <a href="/">Contact Us</a>
                        </i>
                    </li>
                    </ul>
                </div>
                <div class="col">
                 <h4>Follow us</h4>
                    <br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>

                </div>
                <div class="col">

                    <h4>newslatter</h4>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <blockquote class="blockquote text-center">
            <p class="mb-0"></p><span class="container"> © 2019 Copyright:
                <a href="/">
                    Carluck.com</a></span></p>
         </blockquote>
    </div>
    </div>
</footer>