<div class="row" id="rowInitbarVisitor">
    <div class="col-md-6">
        <img class="animated fadeInRight" id="logo3" src="/uploads/logo3.png">
    </div>
    <div class="col-md-2">
        <img class="animated fadeInRight" src="/uploads/ezgif.com-resize.gif">
    </div>
</div>