{% extends 'base.html.twig' %}

{% block title %} New article
{% endblock %}

{%  block body %}

<div class="container py-1">


    <div class="card border-secondary mb-3" id="tableregistration">
        <div class="card-header" id="cardHeaderRegistration">New Post
        </div>
            <div class="card-body">

                {{ form_start(form) }}
                {{ form_end(form) }}


            </div>
    </div>
</div>
{% endblock %}

